<div style="font-family: monospace; white-space: pre-line; margin-bottom: 20px; ">+-+-+-+-+-+-+-+-+
|S|o|u|l|f|l|i|x|
+-+-+-+-+-+-+-+-+
built with love <3</div>
<table>
  <% episodes.each do |episode| %>
    <tr>
      <td><%= link_to episode.series.title, episode.series %><%= '❤️' if episode.series.favourite %></td>
      <td><%= link_to episode.title, episode %></td>
      <td><%= time_ago_in_words episode.latest_media %></td>
    </tr>
  <% end %>
</table>
-<br/>
<%= link_to '⚙', series_index_path %>
