<%= link_to 'Home', root_path %>
<p id="notice"><%= notice %></p>

<h2>Series</h2>

<table>
  <thead>
    <tr>
      <td>Title</td>
      <td>Title</td>
      <td>Favourite</td>
    </tr>
  </thead>

  <tbody>
    <% @series.each do |series| %>
      <tr>
        <td><%= link_to series.title, series %></td>
        <td><%= series.episodes_count %></td>
        <td><%= link_to series.favourite? ? '❤️' : '+', favourite_series_path(series), method: :put %></td>
      </tr>
    <% end %>
  </tbody>
</table>
