<%= link_to 'Home', root_path %>

<p id="notice"><%= notice %></p>

<h2><%= @series.title %></h2>

<% @series.episodes.each do |episode| %>
  <li><%= link_to episode.title, episode %> <%= time_ago_in_words episode.visited_at if episode.visited_at %></li>
<% end %>
